---
import '../styles/global.css'
---


<p class="return">return to &nbsp;<a href="/" id="main-page">main</a>&nbsp; page?</p>

<p class="return">&copy; Cory J Nelson |  All Rights Reserved | Fonts from <a href="https://www.fontbolt.com">FontBolt</a></p>






<style>
 .return{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5rem;
		text-decoration: none;
    color: white;
		
  }
 


  	#main-page {
		text-decoration: none;
		color: crimson;
	}
	#main-page:hover {
		text-decoration:underline;
		color: white;
	}
</style>